<div class="alert {{alert.type}}" role="alert" *ngIf="alert">
    {{alert.msg}}
</div>

<mat-card *ngIf="loginOrAccess"
    [ngClass]="typeAccess.type === 'mobile' ? 'card-login-mobile' : 'card-login'"
    >
    <!-- class="card-login" -->
    <mat-form-field class="form-login" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email">
    </mat-form-field><br/>

    <mat-form-field class="form-login" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="user.password" type="password"
        (keydown.enter)="userAccess()">
    </mat-form-field><br/>

    <button mat-button (click)="userAccess()">Entrar</button>
</mat-card>
<button mat-button (click)="register()" *ngIf="loginOrAccess"
    [ngClass]="typeAccess.type === 'mobile' ? 'register-button-mobile' : 'register-button'">Criar uma conta</button>

<mat-card *ngIf="!loginOrAccess"
    [ngClass]="typeAccess.type === 'mobile' ? 'card-register-mobile' : 'card-register'">
        <div class="header-register">
            <mat-icon class="icon-return" type="button" (click)="register('true')">arrow_back</mat-icon>
            <h3 class="title-login">Preencha os dados para cadastrar-se</h3>
        </div>
        <hr/>

        <div class="header-image">
            <img [src]="registerUser.profile_photo || 'https://firebasestorage.googleapis.com/v0/b/aps-cc5-communication.appspot.com/o/profile_photo%2FpersonIcon.png-1587776041416?alt=media&token=6e0fec70-b0f6-4b4f-852c-b5cab2c5cbfc'"><br/>
            <!-- <button mat-button accept="image/*" type="file" class="button-add-image" (change)="profile_photo($event)">Selecione a foto de perfil</button> -->
            <div class="upload-btn-wrapper" *ngIf="textButtonProfile_photo == 'Selecione uma foto de perfil'">
                <button class="btn">{{textButtonProfile_photo}}</button>
                <input type="file" (change)="selectedFile($event)" accept="image/*"/>
            </div>
            <div class="upload-btn-wrapper" *ngIf="textButtonProfile_photo != 'Selecione uma foto de perfil'">
                <button class="btn" (click)="selectedFile('')">{{textButtonProfile_photo}}</button>
            </div>
        </div>
        <mat-form-field style="width: 100%;" appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="registerUser.email">
        </mat-form-field><br/>

        <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="registerUser.password" type="password">
        </mat-form-field><br/>

        <mat-form-field style="width: 48%;" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="registerUser.nickname">
        </mat-form-field>

        <mat-form-field style="width: 48%; margin-left: 4%;" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput [(ngModel)]="registerUser.phone">
        </mat-form-field><br/>
    
        <button mat-button (click)="register()">Registrar-se</button>
</mat-card>    

<mat-spinner class="spinner" *ngIf="showSpinner"
    mode="indeterminate" diameter="40"></mat-spinner>
