<mat-card class="example-card">
</mat-card>

<mat-card class="card-chat" *ngIf="chatToUsers">

  <mat-card class="card-headers"> 
    <mat-card-header>
      <div mat-card-avatar class="header-image-user"></div>
      <h5 class="title-chat">{{chatToUsers.nickname}}</h5>
    </mat-card-header>
  </mat-card>
  
  <mat-card-content>
    <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
      <div *ngFor="let msg of msgs; let i = index" class="list-msg">
        <div class="card-msg-global">
          <mat-card class="card-msg">
              <b>{{msgs[i].nickname}}</b>
              <mat-card-content>
                  <p style="margin-right: 10%;">{{msgs[i].msg}}</p>
              </mat-card-content>
          </mat-card>
          <mat-card-actions>
              <p style="margin-left: 2%;">{{msgs[i].datetime.seconds*1000 | date: 'HH:mm'}}</p>
          </mat-card-actions>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <hr/>
    <mat-form-field appearance="outline" class="form-chat">
      <mat-label>Mensagem</mat-label>
      <textarea matInput class="textarea-global" [(ngModel)]="messaging" 
          (keydown.enter)="submitMessaging()"
          class="input-chat" mdInput ></textarea>
    </mat-form-field>
</mat-card-content>
</mat-card>