<div class="alert {{alert.type}}" role="alert" *ngIf="alert">
    {{alert.msg}}
</div>

<mat-card class="card-login" *ngIf="loginOrAccess">
    <mat-form-field class="form-login" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email">
    </mat-form-field><br/>

    <mat-form-field class="form-login" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="user.password" type="password">
    </mat-form-field><br/>

    <button mat-button (click)="userAccess()">Entrar</button>
</mat-card>

<mat-card class="card-register">
    <div *ngIf="!loginOrAccess">
        <mat-card-header>
            <div mat-card-avatar class="icon-return" type="button" (click)="register('true')"></div>
            <h3 class="title-login">Preencha os dados para cadastrar-se</h3>
        </mat-card-header>
        <br>
        <mat-form-field style="width: 100%;" appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="registerUser.email">
        </mat-form-field><br/>

        <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="registerUser.password" type="password">
        </mat-form-field><br/>

        <mat-form-field style="width: 48%;" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="registerUser.nickname">
        </mat-form-field>

        <mat-form-field style="width: 48%; margin-left: 4%;" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput [(ngModel)]="registerUser.phone">
        </mat-form-field><br/>
    </div>
    <button mat-button (click)="register()">Registrar-se</button>
</mat-card>    
