.example-card {
    width: 100%;
    height: 20%;
}

.card-headers {
    background-color: #73d99a;

    .header-image-user {
        background-image: url('../../doc/person-icon_31846.png');
        background-size: 2.5em;
        position: relative;
        background-repeat: no-repeat;
    }

    .title-chat {
        margin-top: 1.5%;
    }

    .icon {
        font-size: 2em;
        margin-left: auto;
        margin-right: 10%;
        position: relative;
        margin-top: 2%;
    }
}

.card-chat {
    .scroll {
        margin-top: 2%;

        .list-msg {
            margin-right: 4%;
        }

        .card-msg {
            background-color: #e4e6e3;
            margin-right: 10%;
            width: auto;
        }

        .card-msg-my-user {
            background-color: #afff91;;
            margin-left: 10%;
            margin-right: 2%;
        }

        .title-msg-my-user {
            text-align: right;
        }

        .header-hours {
            margin-left: 2%;
            text-align: left;
            margin-bottom: 3.5%;
            font-size: 10px;
            color: black;
        }
    
        .header-hours-my-user {
            text-align: right;
            margin-right: 4%;
            margin-bottom: 3.5%;
            font-size: 10px;
            color: black;
        }

        .text-msg-my-user {
            text-align: left;
        }
    }

    .list-msg {
        margin-right: 4%;
    }

    .form-chat {
        width: 100%;
        .textarea-global {
            border: solid 2px green!important;
        }
    }

    .header-image {
        background-image: url('../../doc/x.png');
        background-size: 30px 30px;
        float: right;
        background-repeat: no-repeat;
    }

    .title-chat {
        font-size: 20px;
    }
}