<div class="example-card" *ngIf="typeAccess.type == 'default'">
</div>
<!-- Cabeçalho -->
<mat-card *ngIf="chatToUsers" 
  [ngClass]="{'card-headers-mobile': typeAccess.type != 'default', 
  'card-headers': typeAccess.type == 'default'}"> 
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" 
      *ngIf="chatToUsers.profile_photo == ''" 
      [ngStyle]="{'background-image': 'url(' + profile_photo_default + ')'}">
    </div>
    <div mat-card-avatar class="example-header-image" 
      *ngIf="chatToUsers.profile_photo != ''" 
      [ngStyle]="{'background-image': 'url(' + chatToUsers.profile_photo + ')'}">
    </div>
    <h5 class="title-chat">{{chatToUsers.nickname}}</h5>
    <mat-icon type="button" (click)="returnHomeMobile()" class="icon">cancel</mat-icon>
  </mat-card-header>
</mat-card>

<mat-card class="card-chat" *ngIf="chatToUsers">
  <!-- Mensagens -->
    <cdk-virtual-scroll-viewport [ngStyle]="{'height': typeAccess.type == 'mobile' ? '64vh' : typeAccess.type == 'tablet'? '67vh' : '48vh'}" itemSize="50" class="scroll">
      
      <mat-spinner class="spinner" *ngIf="msgs == undefined"
        mode="indeterminate" diameter="40"></mat-spinner>

      <div *ngFor="let msg of msgs; let i = index" class="list-msg">
          <mat-card [ngClass]="{'card-msg': msgs[i].email != myUser.email, 'card-msg-my-user': msgs[i].email == myUser.email}">
            <div *ngIf="msgs[i].email != myUser.email" [ngClass]="{'title-msg-my-user': msgs[i].email == myUser.email}">
              <b>{{msgs[i].nickname}}</b>
            </div>
            <mat-card-content>
                <p 
                  [ngClass]="{'tablet-msg-my-user': msgs[i].email == myUser.email, 'tablet-msg': msgs[i].email != myUser.email}"
                  [innerHTML]="msgs[i].msg">
                </p>
            </mat-card-content>
          </mat-card>
          <p [ngClass]="{'header-hours-my-user': msgs[i].email == myUser.email, 'header-hours': msgs[i].email != myUser.email}">
            {{msgs[i].datetime.seconds*1000 | date: 'HH:mm'}}
          </p>
      </div>
    </cdk-virtual-scroll-viewport>
    <!-- Input -->
    <hr/>
    <div class="card">
      <mat-form-field [ngClass]="{'form-chat-mobile': typeAccess.type != 'default', 
        'form-chat': typeAccess.type == 'default'}">
        <mat-label>Mensagem</mat-label>
          <textarea matInput class="textarea-global" [(ngModel)]="messaging" 
              (keydown.enter)="submitMessaging()"
              rows="2"></textarea>
      </mat-form-field>
    </div>
   
</mat-card>


