<mat-card [ngClass]="{'card-title-global-mobile': typeAccess.type == 'mobile', 
    'card-title-global': typeAccess.type != 'mobile'}">
    <!--  [ngStyle]="{'height.px': heightHeaders}" -->
    <mat-card-header>
        <h4 class="title-global">Geral</h4>
        <mat-icon *ngIf="typeAccess.type == 'mobile'"
            type="button" (click)="detroyChat('home')" class="icon">cancel</mat-icon>
    </mat-card-header>
</mat-card>

<mat-card class="card-chat-global">
    <mat-card-content>
        <cdk-virtual-scroll-viewport [ngStyle]="{'height.px': heightScroll}" itemSize="50" class="scroll">
            <mat-progress-spinner class="spinner" *ngIf="globalMessaging == undefined"
                mode="indeterminate" diameter="35"></mat-progress-spinner>
            <div *ngFor="let msg of globalMessaging; let i = index" class="list-msg">
                        <mat-card [ngClass]="{'card-msg': globalMessaging[i].email != myUser.email, 
                            'card-msg-my-user': globalMessaging[i].email == myUser.email}">
                            <div *ngIf="globalMessaging[i].email != myUser.email" 
                                [ngClass]="{'title-msg-my-user': globalMessaging[i].email == myUser.email}">
                                <b>{{globalMessaging[i].nickname}}</b>
                            </div>
                            <mat-card-content>
                                <p *ngIf="typeAccess.type == 'mobile'"
                                    [ngClass]="{'text-msg-my-user': globalMessaging[i].email == myUser.email, 
                                    'text-msg': globalMessaging[i].email != myUser.email}">
                                    {{globalMessaging[i].msg}}
                                </p>
                                <p *ngIf="typeAccess.type != 'mobile'"
                                    [ngClass]="{'text-msg-my-user': globalMessaging[i].email == myUser.email, 
                                    'text-msg': globalMessaging[i].email != myUser.email}">
                                    {{globalMessaging[i].msg}}
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <div [ngClass]="{'header-hours-my-user': globalMessaging[i].email == myUser.email, 
                            'header-hours': globalMessaging[i].email != myUser.email}">
                            {{globalMessaging[i].datetime.seconds*1000 | date: 'HH:mm'}}
                        </div>
            </div>
        </cdk-virtual-scroll-viewport>
        <hr/>
        <mat-form-field appearance="outline" class="form-chat" *ngIf="globalMessaging">
            <mat-label>Mensagem</mat-label>
            <textarea matInput class="textarea-global" [(ngModel)]="inputMessaging" 
                (keydown.enter)="submitMessaging()" 
                rows="2" mdInput></textarea>
        </mat-form-field>
    </mat-card-content>
</mat-card>
