<!-- TOP-BAR -->
<div class="topnav">
    <h3 class="title-top-bar" [ngStyle]="{'margin-top.px': marginTextMenu}">ZAPZONG</h3>
    <button mat-button [matMenuTriggerFor]="menu" class="topnav-right" *ngIf="user">
        <img [ngStyle]="{'height.px': sizePhoto, 'width.px': sizePhoto}" *ngIf="user.profile_photo == ''" [src]="profile_photo_default">
        <img [ngStyle]="{'height.px': sizePhoto, 'width.px': sizePhoto}" *ngIf="user.profile_photo != ''" [src]="user.profile_photo">
    </button>
    <mat-menu #menu="matMenu">
        <div style="width: 280px; height: 200px;">
            <mat-grid-list cols="5" rowHeight="80px" *ngIf="user">
                <mat-grid-tile colspan="1">
                    <div mat-card-avatar class="example-header-image" 
                        [ngStyle]="{'background-image': 'url(' + user.profile_photo + ')'}">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div style="margin-top: 10px;">
                        <mat-card-title >{{user.nickname}}</mat-card-title>
                        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="openDialog()">Perifl</button>
            <button mat-menu-item (click)="close()">Sair</button>
        </div>
    </mat-menu>
</div>
<!-- BODY-APP -->
<div class="ng-container">
    <!-- COMPUTER WEB ACCESS  -->
    <div class="row" *ngIf="typeAccess.type == 'default'">
        <div class="col-sm-4">
            <mat-tab-group>
                <mat-tab label="Conversas"> 
                    <app-list-conversations
                        [typeAccess]="typeAccess"></app-list-conversations>
                </mat-tab>
                <mat-tab label="Usuários"> 
                    <app-list-users
                        [typeAccess]="typeAccess"></app-list-users>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="col-sm-4">
            <app-chat
            [typeAccess]="typeAccess"
            [userConversation]="userConversation"></app-chat>
        </div>

        <div class="col-sm-4">
            <app-chat-global
                [typeAccess]="typeAccess"></app-chat-global>
        </div>
    </div>
    <!-- MOBILE WEB ACCESS -->
    <div *ngIf="typeAccess.type == 'mobile'">
        <!-- MENU-OPTIONS -->
        <mat-tab-group *ngIf="typeAccess.action == 'home'">
            <mat-tab label="Conversas"> 
                <app-list-conversations
                    [typeAccess]="typeAccess"
                    (eventShowChat)="showChat($event)">
                </app-list-conversations>
            </mat-tab>
            <mat-tab label="Usuários"> 
                <app-list-users
                    [typeAccess]="typeAccess"
                    (eventShowChat)="showChat($event)">
                </app-list-users>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label="Chat Global">
                    <button mat-button (click)="setAction('chat-global')">
                        <mat-label><b>Chat Global</b></mat-label>
                    </button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <!-- SHOW-CHAT-GERAL -->
        <app-chat-global *ngIf="typeAccess.action == 'chat-global'"
            [typeAccess]="typeAccess"
            (eventReturnHome)="setAction($event)">
        </app-chat-global>
        <!-- SHOW CHAT FROM TALK USER- -->
        <app-chat  *ngIf="typeAccess.action == 'chat'"
            [typeAccess]="typeAccess"
            [userConversation]="userConversation"
            (eventReturnHome)="setAction($event)">
        </app-chat>
    </div>
</div>