.scroll {
    margin-top: 8%;
    
    .list-users {
    margin-left: 2%;
        .card-users {
            color: white; 
            background-color: #73d99a;
            width: 98%;
            margin-top: 1.3%;
        }

        .example-header-image {
            background-size: cover;
            }
    }
}