body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}
.ng-container {
    overflow: hidden; 
    width: 100%;
    height: 100%;
    position: relative;
}
.card-chat-global {
    width: 100%;
    height: 100%;
    .content-chat-global {
        height: 75%;
        position: relative;
    }
    .card-chat {
        width: 100%;
        height: 100%;
        margin-top: 3%;
    }
    mat-card-title {
        text-align: center;
        font-size: 2em;
    }
    mat-card-actions {
        height: 20%;
    }
    .card-msg-global {
        margin-right: 3%;
    }
    .scroll {
        flex-grow: 1;
        height: 100%!important;
    }
    .list-msg {
        margin-left: 2%;
         .card-users {
             color: brown; 
             background-color: #73d99a;
             width: 98%;
             margin-top: 1.3%;
         }
     
         .example-header-image {
             background-image: url('https://cdn.icon-icons.com/icons2/300/PNG/256/person-icon_31846.png');
             background-size: cover;
             }
     }
}
.list-users {
   margin-left: 2%;
    .card-users {
        color: brown; 
        background-color: #73d99a;
        width: 98%;
        margin-top: 1.3%;
    }

    .example-header-image {
        background-image: url('https://cdn.icon-icons.com/icons2/300/PNG/256/person-icon_31846.png');
        background-size: cover;
        }
}
.form-chat {
    margin-top: 5%;
    width: 100%;
    border-color: #4857e0;
}
.chat-left {
    text-align: left;
}
.chat-right {
    text-align: right;
}
.title {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
}
table.mat-table {
    width: 100%;
    text-align: left;

}
th {
    text-align: center;
    font-size: 2em;
}
.example-card {
    max-width: 400px;
  }

th.mat-header-cell, td.mat-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
td.mat-cell {
    width: 100%;
}
.virtual-scroll-users{
    th.mat-header-cell {
        text-align: center;
    }
    .card-users{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
        .example-header-image {
            background-image: url('https://cdn.icon-icons.com/icons2/300/PNG/256/person-icon_31846.png');
            background-size: cover;
            }
        .card-header-users {
            width: 100%;
        }
    
    }
}