<div class="row">
    <div class="col-sm-4">
        <mat-card>Global</mat-card>
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 30em;" class="scroll">
            <div *ngFor="let msg of globalMessaging; let i = index" class="list-msg">
            <div class="card-msg-global">
                    <mat-card class="card-msg">
                        <b>{{globalMessaging[i].login}}</b>
                        <mat-card-content>
                            <p style="margin-right: 10%;">{{globalMessaging[i].msg}}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card-actions>
                        {{globalMessaging[i].datetime.seconds*1000 | date: 'HH:mm'}}
                    </mat-card-actions>
            </div>
            </div>
            <!-- <mat-card class="card-msg">
                                    <div style="text-align: right; margin-right: 2%;"><b>{{name}}</b></div>
                                    <mat-card-content>
                                        <p style="margin-left: 10%;">ojisanfinifs ofj isafnpfsfnisan fpfaf as asf asfsaf asfasfasf as</p>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card-actions>
                                    <div style="text-align: right;">19:14</div>
                                
                                </mat-card-actions> -->
        </cdk-virtual-scroll-viewport>

        <mat-form-field appearance="outline" class="form-chat">
            <mat-label>Mensagem</mat-label>
            <textarea matInput [(ngModel)]="messaging" 
                (keydown.enter)="submitMessaging()"
                class="input-chat" mdInput ></textarea>
        </mat-form-field>
    </div>

    <div class="col-sm-3">
        <div *ngIf="users"> 
            <cdk-virtual-scroll-viewport [itemSize]="100" style="height: 50em;">
                <div *ngFor="let name of users; let i = index" class="list-users">
                    <mat-card type="button" (click)="selectUsers(name)" class="card-users">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <p>{{name}}</p>
                        </mat-card-header>
                    </mat-card>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>            
    </div>
</div>