.navbar {
    background: #3f91d9;
    height: 7%;
    position: static;
}

.ng-container {
    width: 100%;
    height: 93%;
    overflow: hidden; 
    position: relative;   
}

.topnav {
    overflow: hidden;
    background-color: #3f91d9;
    height: 7%!important;
    align-items: center;

    .topnav-right {
        float: right;
        flex-direction: row;
    }
    
    img {
        float: right;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 0.5%;
    } 
}

.example-header-image {
    background-size: cover;
    float: left;
    margin-right: 10px;
    border: transparent thin solid;
    margin-left: 5px;
} 