.navbar {
    background: #3f91d9;
    height: 7%;
    position: static;
}

.ng-container {
    width: 100%;
    height: 93%;
    overflow: hidden; 
    position: relative;   
}

// .menu-mobile {
//     width: 35px;
//     height: 5px;
//     background-color: black;
//     margin: 6px 0;
//     border-radius: 100px;
// }

// .menu-item {
//     margin-left: 10px;
//     margin-top: 12px;
// }

// .container {
//     display: grid;
// }